.leader {
    display: flex;
    justify-content: center;
}

.box {
    flex-direction: column;
    background: #f0f8ff0f;
    border-radius: 12px;
    overflow-y: auto;
    max-height: 75%;
    -ms-overflow-style: none;
}

.row {
    justify-content: space-evenly;
    margin-bottom: 4px;
}

.element {
    padding: 10px;
    width: fit-content;
}

.header {
    position: sticky;
    text-transform: capitalize;
    background-color: rgba(229, 61, 61, 0.796);
    width: fit-content;
    text-align: center;
}

.box::-webkit-scrollbar {
    /* Will remobe scroll bar */
    display: none;
    /* Chrome, Safari, Opera */
}