.leader {
    display: flex;
    justify-content: center;
}

.box {
    flex-direction: column;
    background: #f0f8ff0f;
    border-radius: 12px;
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 97%;
}

.rows {
    overflow-y: scroll;
    flex-direction: column;
    max-height: 65%;
    justify-content: flex-start;
    -ms-overflow-style: none;
}

.row {
    justify-content: space-evenly;
    margin-bottom: 4px;
    margin-top: 2px;
    flex-shrink: 0;
}

.element {
    flex: 1;
    padding: 10px;
    width: fit-content;
}

.current-player {
    background-color: #ffe4c44d;
    margin-top: 4px;
}

.header {
    top: 0;
    position: sticky;
    text-transform: uppercase;
    background-color: rgba(229, 61, 61, 0.796);
    /* width: fit-content; */
    text-align: center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.rows::-webkit-scrollbar {
    /* Will remobe scroll bar */
    display: none;
    /* Chrome, Safari, Opera */
}