.container {
    width: 100vw;
    height: 100vh;
    background-color: wheat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.inner-container{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(4, 20, 74);
    /* background-image: url('../images/shell.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5px;
    display: flex;
}

.side-nav {
    width: 10%;
    height: 95%;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.icons-align:hover {
    background-color: rgb(98, 153, 202);
    border-radius: 50px;
}

.icons-align {
    padding: 30px;
}

.active {
    background-color: #9b53e38a;
    border-radius: 12px;
}

.dashboard-body {
    width: calc(100% - 10%);
    height: 95%;
    border-radius: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}

.dashboard-image{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.top-banner{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(250, 250, 250); 
    /* Color was black */
}

.dashboard-icons{
    padding: 8px 40px;
    display: flex;
}

.padding{
    padding: 30px;
}